<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
</html>

<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= my_variable.capitalize %> <%= title %> Ipsum Generator</h1>
    <%count_num.times do%>
     <p><%= content %></p>
    <%end%> 
  </body>
</html>
