<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title><%= title %></title>
  </head>

  <body>
    <p class="header"><%= my_variable.capitalize %> <%= title %> Ipsum Generator</p>
    <hr>
    <%count_num.times do%>
     <p class="ipsum"><%= content %></p>
    <%end%>
  </body>
</html>
